<div class="jumbotron">
<h1>구구단을 외자, 구구단을 외자</h1>
<img src="http://file.instiz.net/data/file/20131019/d/9/9/d991c54aee37e6b5d861d54b952082f3"/>
<h2><%=$first_num%> * <%=$second_num%> 은?</h2>

<form action="/calc/result" method="post">
    <input type="text" name="multnum">
    <input type="submit" value="두근두근">
</form>
</div>